# Gradle files
.gradle/
build/
**/build/

# Local configuration
local.properties

# Log / OS
*.log
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Build outputs
*.apk
*.aab
output-metadata.json

# Native build
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# Firebase
google-services.json

# Profiling
*.hprof

# Misc
captures/\